.common_button {
    border-radius: 5px;
    background-color: rgb(255, 207, 119);
    font-weight: bold;
    border: none;
    margin: 10px;
}

.common_button.s {
    padding: 5px;
    font-size: 16px;
}

.common_button.m {
    padding: 10px;
    font-size: 20px;
}

.common_button.l {
    padding: 15px;
    font-size: 25px;
}
